<%- include("partials/header"); -%>

<h1>Compose</h1>

<form action="/compose" method="post">
  <div class="form-group">
      
    <label for="">Title</label>
    <input name="pos_title" type="text" class="form-control"  />

    <label for="">Post</label>
    <textarea name="post" class="form-control" id="" rows="5"></textarea>

  </div>

  <button type="submit" class="btn btn-primary " name="button">Publish</button>
</form>

<!-- <p></p> -->

<%- include("partials/footer"); -%>
